.buttonContainer {
  display: flex;
  gap: 1.5rem;
}

:is(.up, .down) {
  font-size: 20px;
  padding: 15px;
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.1);
  border: 1px dashed rgb(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 1rem auto;
  outline: none;
}

:is(.up, .down):hover {
  background-color: rgb(0, 0, 0, 0.3);
  border: 1.2px solid rgb(0, 0, 0, 0.3);
  transition: all 0.2s ease-in;
}

@media screen and (min-width: 1920px) {
  .buttonContainer {
    gap: 1.5rem;
  }

  :is(.up, .down) {
    padding: 20px;
    font-size: 25px;
    letter-spacing: 1px;
  }
}
